.button {
    -fx-font-weight: bold;
}

.background {
    -fx-background-color: rgb(234, 234, 234);
    -fx-effect: dropshadow(gaussian, black, 10, 0.0, 0, 0);
}

.hyperlink {
    -fx-underline: false;
    -fx-text-fill: green;
}

.toolbar-button {
    -fx-background-color: transparent;
}

.toolbar-button:hover {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
    -fx-padding: 0.333333em 0.666667em 0.416667em 0.666667em; /* 4 8 5 8 */
    -fx-text-fill: -fx-text-base-color;
}

.toolbar-button:armed {
    -fx-background-color: -fx-faint-focus-color, -fx-focus-color, -fx-inner-border, -fx-body-color;
    -fx-background-insets: -2, -0.3, 1, 2;
    -fx-background-radius: 7, 6, 4, 3;
}

.toolbar-button:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.bookmark-title {
    -fx-font-size: 1.2em;
}

.bookmark-comment {
    -fx-font-size: 0.9em;
    -fx-font-style: italic;
    -fx-fill: dimgray;
}

.page-title {
    -fx-font-weight: bold;
}

.diigo-button {
    -fx-graphic: url(https://www.diigo.com/images/diigo-icon/16.png);
}

.evernote-button {
    -fx-graphic: url(../images/evernote.png)
}

.button-icon-shape {
    -fx-scale-x: 2.0;
    -fx-scale-y: 2.0;
}
 
.stop-button-icon {
    -fx-fill: black;
}
 
.browser-button {
    -fx-pref-width: 3.0em;
    -fx-pref-height: 3.0em;
    -fx-background-radius: 1.5em;
    -fx-background-color: null;
    -fx-border-radius: 1.5em;
    -fx-border-color: black;
    -fx-border-width: 2.0px;
}
 
.browser-button:disabled {
    -fx-border-color: rgb(0, 0, 0, 0.7);
}
 
.browser-button:hover {
    -fx-background-color: #dcdcdc;
}
 
.browser-button:pressed {
    -fx-background-color: black;
    -fx-border-color: white;
}
 
.browser-button:pressed SVGPath {
    -fx-fill: white;
}

.throbber {
    -fx-pref-width: 3.0em;
    -fx-pref-height: 3.0em;
}
