.button {
    -fx-font-weight: bold;
}

.background {
    -fx-background-color: rgb(234, 234, 234);
    -fx-effect: dropshadow(gaussian, black, 10, 0.0, 0, 0);
}

.hyperlink {
    -fx-underline: false;
    -fx-text-fill: green;
}

.bookmark-title {
    -fx-font-size: 1.2em;
}

.bookmark-comment {
    -fx-font-size: 0.9em;
    -fx-font-style: italic;
    -fx-fill: dimgray;
}

.diigo-button {
    -fx-graphic: url(https://www.diigo.com/images/diigo-icon/16.png);
}
